#changePasswdModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
  .modal-dialog.modal-sm(role='document')
    .modal-content
      .modal-header
        h4.modal-title 修改密码
      .modal-body
        .input-group
          span.input-group-addon 原密码
          input.form-control.oldPasswdInput(type="password", placeholder="请输入原密码")
        br
        .input-group
          span.input-group-addon 新密码
          input.form-control.newPasswdInput(type="password", placeholder="请输入新密码")
        br
        .input-group
          span.input-group-addon 重复新密码
          input.form-control.newPasswdAgainInput(type="password", placeholder="请再次输入新密码")
        .text-right.changePasswdMessage
      .modal-footer
        button.btn.btn-default.modalClose(type='button', data-dismiss='modal') 关闭
        button.btn.btn-primary(type='button', onclick="changePasswd()") 确定修改