br
.container-fluid(style="background-color: green; color: white; text-align: center")
  hr
  br
  h4 友商链接：
    a.btn(href="https://www.taobao.com/", style="color: white") 淘宝
    a.btn(href="https://www.tmall.com/", style="color: white") 天猫
    a.btn(href="https://www.jd.com/", style="color: white") 京东
  span made in China