br
.container-fluid(style="background-color: green; color: white;")
  hr
  .col-md-1.col-md-offset-2
    span 友情链接：
  .col-md-8
    a(target='_blank', title='农业之友', style="color: white; padding-left: 5px", href='http://www.nyzy.com/') 农业之友
    a(target='_blank', title='水果批发网', style="color: white; padding-left: 5px", href='http://www.114guoshu.com/') 水果批发网
    a(target='_blank', title='中国花木网', style="color: white; padding-left: 5px", href='http://www.huamu.com/') 中国花木网
    a(target='_blank', title='中国养殖网', style="color: white; padding-left: 5px", href='http://yangzhi.huangye88.com/') 中国养殖网
    a(target='_blank', title='养殖巴巴网', style="color: white; padding-left: 5px", href='http://www.yz88.org.cn/') 养殖巴巴网
    a(target='_blank', title='养猪网', style="color: white; padding-left: 5px", href='http://www.pigol.cn/') 养猪网
    a(target='_blank', title='吾谷网', style="color: white; padding-left: 5px", href='http://www.wugu.com.cn') 吾谷网
    a(target='_blank', title='苗木网', style="color: white; padding-left: 5px", href='http://www.miaomuzhan.com/') 苗木网
    a(target='_blank', title='大蒜价格行情网', style="color: white; padding-left: 5px", href='http://www.51garlic.com/') 大蒜价格行情网
    a(target='_blank', title='苹果价格网', style="color: white; padding-left: 5px", href='http://www.miaomuzhan.com/') 苗木网
    
    br
    a(target='_blank', title='中国畜牧网', style="color: white; padding-left: 5px", href='http://www.ppxmw.com/') 中国畜牧网
    a(target='_blank', title='辣椒干批发', style="color: white; padding-left: 5px", href='http://www.e658.cn/') 辣椒干批发
    a(target='_blank', title='生猪价格行情预测', style="color: white; padding-left: 5px", href='http://www.shengzhujiage.com/') 生猪价格行情预测
    a(target='_blank', title='土地流转网', style="color: white; padding-left: 5px", href='http://www.tuliu.com/') 土地流转网
    a(target='_blank', title='土地流转网', style="color: white; padding-left: 5px", href='http://www.tdzyw.com/') 土地流转网
    a(target='_blank', title='农村网', style="color: white; padding-left: 5px", href='http://www.cuncunle.com/') 农村网
    a(target='_blank', title='中国茶网', style="color: white; padding-left: 5px", href='http://www.zgchawang.com/') 中国茶网
    a(target='_blank', title='买茶网', style="color: white; padding-left: 5px", href='http://www.maichawang.com/') 买茶网
    a(target='_blank', title='中国商业网', style="color: white; padding-left: 5px", href='http://www.miaomuzhan.com/') 苗木网
    a(target='_blank', title='苗木', style="color: white; padding-left: 5px", href='http://www.yn365.com') 苗木
    br
    a(target='_blank', title='新发地', style="color: white; padding-left: 5px", href='http://www.xinfadi.com.cn') 新发地
    a(target='_blank', title='搜猪网', style="color: white; padding-left: 5px", href='http://www.soozhu.com/') 搜猪网
    a(target='_blank', title='食品代理', style="color: white; padding-left: 5px", href='http://www.spzs.com/') 食品代理
    a(target='_blank', title='安徽农网', style="color: white; padding-left: 5px", href='http://www.ahnw.gov.cn/') 安徽农网
    a(target='_blank', title='农资代理', style="color: white; padding-left: 5px", href='http://www.3456.tv/') 农资代理
    a(target='_blank', title='兽药招商', style="color: white; padding-left: 5px", href='http://www.1866.tv') 兽药招商
    a(target='_blank', title='供求信息', style="color: white; padding-left: 5px", href='http://www.258.com') 供求信息
    a(target='_blank', title='中国农机网', style="color: white; padding-left: 5px", href='http://www.nongjx.com/') 中国农机网
    a(target='_blank', title='茶网', style="color: white; padding-left: 5px", href='http://www.puercn.com') 茶网
    a(target='_blank', title='水果招商', style="color: white; padding-left: 5px", href='http://www.miaomuzhan.com/') 苗木网
    a(target='_blank', title='品牌加盟网', style="color: white; padding-left: 5px", href='http://www.1637.com/') 品牌加盟网
    br
    a(target='_blank', title='中国养猪网', style="color: white; padding-left: 5px", href='http://www.zhuwang.cc/') 中国养猪网
    a(target='_blank', title='火爆农化网', style="color: white; padding-left: 5px", href='http://www.1988.tv/') 火爆农化网
    a(target='_blank', title='饮料招商', style="color: white; padding-left: 5px", href='http://www.spdl.com/') 饮料招商
    a(target='_blank', title='养生保健', style="color: white; padding-left: 5px", href='http://www.ftxk.cn/') 养生保健
    a(target='_blank', title='农业', style="color: white; padding-left: 5px", href='http://www.agronet.com.cn/') 农业
    a(target='_blank', title='中国蔬菜网', style="color: white; padding-left: 5px", href='http://www.vegnet.com.cn/') 中国蔬菜网
    a(target='_blank', title='加盟网', style="color: white; padding-left: 5px", href='http://www.globrand.com/') 加盟网
    a(target='_blank', title='云南花木网', style="color: white; padding-left: 5px", href='http://www.ynhmw.com') 云南花木网
    a(target='_blank', title='水果网', style="color: white; padding-left: 5px", href='http://www.miaomuzhan.com/') 苗木网
    a(target='_blank', title='养殖网', style="color: white; padding-left: 5px", href='http://www.qnong.com.cn/') 养殖网
    a(target='_blank', title='花卉网', style="color: white; padding-left: 5px", href='http://www.aihuhua.com/') 花卉网
    
  .col-md-12
    p.text-center made in China
include ../public/alertInfoModal