br
.container-fluid(style="background-color: green; color: white;")
  br
  .container.hidden-xs
    .row(style="font-size: 20px")
      .col-md-2
      .col-md-1
        img.img-responsive(src="/img/icons/3.png")
      .col-md-1
        span.text-center.footerSpan 一碗饭
      .col-md-1
        img.img-responsive(src="/img/icons/4.png")
      .col-md-1
        span.text-center.footerSpan 一羹汤
      .col-md-1
        img.img-responsive.footerImg(src="/img/icons/1.png")
      .col-md-1
        span.text-center.footerSpan 一杯茶
      .col-md-1
        img.img-responsive(src="/img/icons/2.png")
      .col-md-1
        span.text-center.footerSpan 一朵花
      
      script.
        $(".footerSpan").css("line-height", $(".footerImg").css("height"))

  .container
    .row
      hr
      .col-md-12
        p.text-center 绿色一点，健康一生
include ../public/alertInfoModal