extends ../layout
//- 主页
block content
  //- script(src="/js/publicAPI.js")

  -if(user == undefined || user.level != 2)
    link(rel='stylesheet', href='/css/normal.css')
    body
      include ../head/nav
      include user
      include ../head/footer
      include ../public/alertInfoModal
      script(src="/js/homeByUser.js")

  -else
    link(rel='stylesheet', href='/css/adminPage.css')
    body
      include admin
      include ../public/alertInfoModal
      script(src="/js/homeByAdmin.js")
