extends ../layout

block content
  //- 单独的css
    link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1= title
    p Welcome to #{title}

    //- 单独的js
      script(src="")