extends ../layout
//- 登录界面
block content
  link(rel="stylesheet", href="/css/normal.css")

  body
    .container(style="margin-top: 50px")
      .row
        .col-xs-12.col-md-4.col-md-offset-4(style="background-color: white")
          h1.text-center(style="color: green") 绿铺
          div#signinDiv
            hr
            h3.text-center(style="color: green") 登录绿铺，发现更健康的美食
            br
            form.signinForm(action='/signin', method='POST')
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-user(aria-hidden="true")
                input.form-control.userIdInput(type='text', name='id', placeholder="帐号")
              br
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-lock(aria-hidden="true")
                input.form-control.userPasswordInput(type='password', name='password', placeholder="密码")
              br
              .input-group.verifyPopoverHelp(data-toggle="popover", data-trigger="focus", data-placement="top", data-content="例如：(叁 加 柒) 结果为 10")
                .input-group-addon
                  span.glyphicon.glyphicon-asterisk(aria-hidden="true")
                .input-group-addon
                  span #{verifyCodeExpression} 结果为
                input.form-control.userVerifyCodeInput(type='text', name='verifyCode', placeholder="验证码")
              .col-md-12.col-xs-12.text-right.text-danger= message
              
              br
              .form-group
                button.btn.btn-primary.btn-block.signinBtn(style="background-color: green") 登录
            hr
            p.text-center 没有帐号？
              a.changeDiv 注册

          div#signupDiv(style="display: none")
            hr
            h3.text-center(style="color: green") 注册绿铺，发现更健康的美食
            br
            form.signupForm(action='/signup', method='POST')
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-user(aria-hidden="true")
                input.form-control.userIdInput(type='text', name='id', placeholder="账号")
              br
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-user(aria-hidden="true")
                input.form-control.userNameInput(type='text', name='name', placeholder="用户昵称")
              br
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-lock(aria-hidden="true")
                input.form-control.userPasswordInput(type='password', name='password', placeholder="密码")
              br
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-lock(aria-hidden="true")
                input.form-control.userPasswordAgainInput(type='password', name='againPassword', placeholder="再次输入密码")
              br
              .input-group.verifyPopoverHelp(data-toggle="popover", data-trigger="focus", data-placement="top", data-content="例如：(叁 加 柒) 结果为 10")
                .input-group-addon
                  span.glyphicon.glyphicon-asterisk(aria-hidden="true")
                .input-group-addon
                  span #{verifyCodeExpression} 结果为
                input.form-control.userVerifyCodeInput(type='text', name='verifyCode', placeholder="验证码")
              .col-md-12.col-xs-12.text-right.text-danger= message
              
              br
              .form-group
                button.btn.btn-primary.btn-block.signupBtn(style="background-color: green") 注册
            hr
            p.text-center 已有帐号？
              a.changeDiv 登录
          p.text-center
            a(href="/") 直接进入
    script(src="/js/signin.js")
