//- 普通用户

body
  nav.navbar.navbar-default
    .container-fluid
      .container
        .navbar-header
          span.navbar-brand 绿铺
          span.navbar-text 发现更健康的美食
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#userNav', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse#userNav
          ul.nav.navbar-nav.navbar-right
            -if(user == undefined)
              li 
                a.btn(href="/signin") 登录
              li 
                a.btn(href="/signin") 注册
            -else
              li
                span.navbar-text 欢迎您，#{user.name}
              li 
                a.btn(href="/signin") 退出登录

  .container
    .row
      .col-md-9.col-md-push-3.col-xs-12
        //- 首页
        p #{user==undefined?'No user':user.name}